.black {
  background-color: black;
}

.color {
  border: 1px black solid;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.line {
  vertical-align: top;
}

.pixel {
  border: 1px black solid;
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 40px;
}
